* {
  box-sizing: border-box; }

.hosp-card {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .hosp-card:after {
    content: "";
    display: table;
    clear: both; }
  .hosp-card .card-row {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .hosp-card .card-row:last-child {
      margin-right: 0; }
    .hosp-card .card-row .value-header {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .hosp-card .card-row .value-header:last-child {
        margin-right: 0; }
    .hosp-card .card-row .value {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .hosp-card .card-row .value:last-child {
        margin-right: 0; }

h3 {
  color: #222222;
  font: 700 0.875em Helvetica;
  letter-spacing: 1px;
  line-height: 1.4em;
  text-align: left;
  text-transform: uppercase;
  margin-top: 1em; }

.hosp-card .card-row {
  width: 100%;
  margin: 0.25em; }
  .hosp-card .card-row .value-header {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle; }
  .hosp-card .card-row .value {
    display: inline-block;
    vertical-align: middle;
    text-align: left; }
  .hosp-card .card-row p {
    margin: 0.25em; }
