
h3 { //paragraph header
	color: rgb(34, 34, 34);
	font: 700 0.875em Helvetica;
	letter-spacing: 1px;
	line-height: 1.4em;
	text-align: left;
	text-transform: uppercase;
	margin-top: 1em;
}

.hosp-card {
	.hosp-name {

	}
	.card-row {
		width: 100%;
		margin: 0.25em;
		.value-header {
			font-weight: bold;
			display: inline-block;
			vertical-align: middle;
		}
		.value {
			display: inline-block;
			vertical-align: middle;
			text-align: right;
		}
		p {
			margin: 0.25em;
		}
	}
}
