body {
  background-color: $white;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.container {
    overflow-x: hidden;
}

h3 { //paragraph header
  color: rgb(34, 34, 34);
  font: 700 0.875em Helvetica;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  margin: 0.25em 0.5em;
}

.hosp-card-wrapper {
  width: 100%;
}
.hosp-card {
  border: 1px solid $lt_gray;
  // margin: 0.25em;
  font-family: $helvetica;
  position: relative;
  width: 100%;
  header {
    h4 {
      font-size: 0.8em;
      background: $teal;
      margin: 0;
      padding: 0.5em;
      text-align: center;
      // white-space: nowrap;
      // text-overflow: ellipsis;
      // overflow: hidden;    
    }
  }
  .card-row {
    font-size: 0.8em;
    padding: 0.25em;
    width: 100%;
    border-bottom: 1px solid rgb(220, 220, 220);
    &:nth-child(odd) {
      background-color: rgb(240, 240, 240);
    }     
    p {
      margin: 0.25em;
    }
  }
  .sub-header {
    font-weight: bold;
  }
  .value-header {
    font-style: italic;
    display: inline-block;
    vertical-align: middle;
  }
  .value {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    &:nth-child(even) {
      text-align: right;
    }
  }
}
.ac-container{
  width: 100%;
  margin: 10px auto 30px auto;
  text-align: left;
}
.ac-container label{
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
  background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
  background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
  background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
  background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
  box-shadow: 
    0px 0px 0px 1px rgba(155,155,155,0.3), 
    1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
    0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover{
  background: #fff;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
  background: #ccc;
  color: #3d7489;
  text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
  box-shadow: 
    0px 0px 0px 1px rgba(155,155,155,0.3), 
    0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: 2px;
  top: 4px;
  background: transparent url(../images/arrow_down.png) no-repeat center center;  
}
.ac-container input:checked + label:hover:after{
  background-image: url(../images/arrow_up.png);
}
.ac-container input{
  display: none;
}
.ac-container article{
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  max-height: 0px;
  position: relative;
  z-index: 10;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  -o-transition: max-height 0.8s;
  -ms-transition: max-height 0.8s;
  transition: max-height 0.8s;
}

.ac-container input:checked ~ article{
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  -o-transition: max-height 0.8s;
  -ms-transition: max-height 0.8s;
  transition: max-height 0.8s;
  box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.ac-container input:checked ~ article.ac-large{
  // height: auto;
  max-height: 1000px;
}