
h3 { //paragraph header
  color: rgb(34, 34, 34);
  font: 700 0.875em Helvetica;
  letter-spacing: 1px;
  line-height: 1.4em;
  text-align: left;
  text-transform: uppercase;
  margin-top: 1em;
}

.hosp-card {
  border: 1px solid $lt_gray;
  margin: 0.25em;
  font-family: $helvetica;
  width: 100%;
  header {
    h4 {
      font-size: 1em;
      background: $teal;
      margin: 0;
      padding: 0.5em;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;    
    }
  }
  .card-row {
    font-size: 0.8em;
    padding: 0.25em;
    width: 100%;
    border-bottom: 1px solid rgb(220, 220, 220);
    &:nth-child(odd) {
      background-color: rgb(240, 240, 240);
    }     
    .value-header {
      font-style: italic;
      display: inline-block;
      vertical-align: middle;
    }
    .value {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
    }
    p {
      margin: 0.25em;
    }
  }
  .sub-header {
    font-weight: bold;
  }
}


// table {
//   font-family: $helvetica;
//   margin: 0 0 1em;
//   width: 100%;

//   th {
//     border-bottom: 1px solid rgb(187, 187, 187);
//     font-size: 1em;
//     font-weight: 800;
//     padding: 0 1em .25em;
//     text-align: right;
//     vertical-align: middle;

//     &:first-child {
//       text-align: left;
//     }
//   }

//   td {
//     font-size: .875em;
//     padding: 8px 16px;
//     text-align: right;

//     &:first-child {
//       text-align: left;
//     }
//   }

//   tr {
//     &:nth-child(odd) td {
//       background-color: rgb(240, 240, 240);
//     }
//   }

//   @include media($mobile) {
//     display: block;

//     thead,
//     tbody,
//     tr,
//     th,
//     td {
//       display: block;
//     }

//     thead {
//       tr {
//         @include visually-hidden;
//       }
//     }

//     td {
//       border-bottom: 1px solid rgb(220, 220, 220);
//       padding-left: 50%;
//       position: relative;
//       text-align: right;

//       &:first-child {
//         text-align: right;
//       }

//       &:before {
//         content: attr(data-title);
//         font-weight: bold;
//         left: .5em;
//         padding-right: 10px;
//         position: absolute;
//         text-align: left;
//         white-space: nowrap;
//         width: 45%;
//       }
//     }
//   }
// }